<style>
    :host {
        display: flex;
        flex-direction: column;
        border: var(--border);
    }
    input {
        border: none;
        border-bottom: var(--border);
        padding: var(--padding);
    }
    textarea {
        border: none;
        border-bottom: var(--border);
        padding: var(--padding);
    }
    .note-footer {
        display: flex;
        justify-content: flex-end;
        padding: var(--padding);
    }
    .note-footer button {
        margin-left: var(--padding);
    }

    :host([state='create']) #deleteBtn {
        display: none;
    }
</style>
<input id="title" type="text" placeholder="Title">
<textarea id="note" placeholder="Jot a new note..." rows="5"></textarea>
<div class="note-footer">
    <button id="saveBtn" data-action="save">Save</button>
    <button id="closeBtn" data-action="close">Close</button>
    <button id="deleteBtn" data-action="delete">Delete</button>
</div>